{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center">태양광 발전</h1>
    <br>신재생 에너지 보급 지원(주택 지원) 사업 진행중
    <br>태양광의 경우 3.0kW 이하 용량에 대해 지원
    <br>보조금 지원단가 상한액은 516만 원이고
    <br>그 중 258만 원이 정부지원금으로 나온다.
    <br>시에 따라 추가로 나오는 보조금도 있으니 확인
    
    <br><br>
    <a href="https://www.motie.go.kr/motie/ms/nt/announce3/bbs/bbsView.do?bbs_seq_n=67589&bbs_cd_n=6"
        style="font-size: 13px;
               padding: 10px">
        ※ 산업통상자원부 공고 제2022-369호
    </a>
{% endblock %}